html, body {
    -webkit-overflow-scrolling : touch;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  a {
    color: #4183c4;
    text-decoration: none !important;
  }

.logo {
margin: auto;
cursor: pointer;
}



/* Auth */

.authContainer {
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    justify-content: center;
    align-items: center;
}

/* Font */
.font-color {
    color: rgb(135, 29, 235);
}

/* mt */