html, body {
    -webkit-overflow-scrolling : touch;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  a {
    color: #4183c4;
    text-decoration: none !important;
  }

.logo {
margin: auto;
cursor: pointer;
}



/* Auth */
.authContainer {
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    justify-content: center;
    align-items: center;
}

/* Font */
.font-color {
    color: rgb(135, 29, 235);
}

/* margin */
.ml-04 {
  margin-left: 0.4rem;
}
.ml-05 {
  margin-left: 0.5rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}

/* mouse */
.mouse-pointer {
  cursor: pointer;
}

/* padding */
.padding-0 {
  padding: 0%;
}

/* width */
.max-width-15 {
  max-width: 15rem;
}